.section__icon--signal-bar {
  font-size: 200px;
}

.section__icon--globe {
  padding-left: 0px;
  font-size: 200px;
}

.values {
  padding: 80px 50px 80px 70px;
}

.values__text {
  padding-top: 0px;
}

.pricing .card {
  margin: 0px;
}

.pricing .card .card-footer__btn {
  padding: 6px 12px;
}

.contact {
  padding: 77px 50px 80px 60px;
}

.contact__form__textarea {
  margin-top: -22px;
}
/*# sourceMappingURL=style-md.css.map */