$bgOrange: #fe512b;
$bgGrey: #f6f6f6;
$textGrey: #818181;

body {
    position: relative;
}

header {
    background-color: $bgOrange;

    .navbar {
        padding: 0px 10px;
        
        &__toggler {
            font-size: 20px;
            padding-top: 5px;
            color: #888888;
        }
    }

    .navbar-brand, .nav-link {
        color: white;
        letter-spacing: 0.2em;
        font-weight: 600;

        &:hover {
            color: #ffd6cc;
        }
    }

    .nav-link {
        text-transform: uppercase;
        padding: 15px !important;
        font-size: 0.8rem;
        letter-spacing: 0.3em;
    }

    .active {
        background-color: white;
        color: $bgOrange;

        &:hover {
            color: #e42b01;
        }
    }
}

@media (min-width: 576px) {
    .navbar {
        padding: 0px 50px;
    }
}

// styles for sections

.section {
    &__h1 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
    }
    
    &__h2 {
        font-size: 1.2rem;
        font-weight: 600;
        color: #303030;
    }
    
    &__p {
        color: $textGrey;
        font-weight: 600;
    }
    
    @media (max-width: 992px) {
        &__icon {
            display: flex;
            justify-content: center;
        }
    }
    
    &__icon {
        font-size: 150px;
        color: $bgOrange;
        margin-bottom: 15px;

        &--globe {
            position: relative;
        }
    }
}

// section company

.company {
    text-align: center;
    color: white;
    background-color: $bgOrange;
    padding: 120px 0px;
    font-family: Montserrat, sans-serif;

    h1 {
        font-weight: 500;
        font-size: 2.3rem;
    }

    h2 {
        font-weight: 500;
        font-size: 1.3rem;
    }

    .subscribe {
        justify-content: center;
        padding-top: 15px;

        &__input {
            width: 50vw;
        }

        &__btn {
            background-color: #e15352;
            color: white;
            border: 1px solid #dd3f3e;
        }
    }
}

// section about

.about {
    padding: 80px 50px;

    &__text {
        padding-top: 1.1rem;
    }

    @media (max-width: 1280px) {
        .btn__touch {
            width: 100%;
            display: block;
            margin-bottom: 70px; //odsadenie btn od i
        }
    }

    .btn__touch {
        border-color: #cccccc;
        color: #333333;
        font-weight: 600;
        font-size: 1.2rem;
        padding: 8px 15px;
    }
}

// section our values

.values {
    padding: 80px 50px;
    background: $bgGrey;

    &__text {
        padding-top: 20px;

        &--bold {
            font-weight: 700;
        }
    }
}

// section services

.services {
    padding: 100px;

    &__icon {
        font-size: 45px;
        padding-top: 20px;
    }

    &__h1 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.2rem;
    }

    &__p {
        color: $textGrey;
        font-size: 1rem;
        font-weight: 500;
    }
}

// section portfolio

.portfolio {
    padding: 100px 50px;
    background-color: $bgGrey;

    h2 {
        padding-bottom: 30px;
    }

    .figure {
        padding-bottom: 10px;

        figcaption {
            padding-top: 10px;
            margin-top: -10px;
            min-height: 85px;
            background-color: white;
    
            h3 {
                font-size: 1rem;
                font-weight: 700;
            }
    
            p {
                font-weight: 600;
            }
        }
    }

// carousel

    &__carousel-heading {
        padding-top: 45px;
        font-weight: 700;
    }

    .carousel {
        &-item {
            padding: 90px 0px 30px 0px;
            height: 250px;
        }
    
        &-text {
            font-size: 1.2rem;
            font-style: italic;
            font-weight: 600;
        }
    
        &-control-prev, &-control-next {
            color: $bgOrange;
            font-size: 40px;
        }
    
        &__dot {
            background-color: white;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            border: 1px solid $bgOrange;
            opacity: 1;
        }
    
        li.active {
            background-color: $bgOrange;
        }
    }
}

// section pricing

.pricing {
    padding: 70px 0px;
    text-align: center;

    .card {
        border: 1px solid $bgOrange;
        border-radius: 0rem;
        color: $textGrey;
        margin: 35px;
    }

    .card-header {
        background-color: $bgOrange;
        color: white;
        font-weight: 600;
        border-radius: 0rem;
        height: 120px;
        line-height: 120px;
        padding: 0px;
        font-size: 2.3rem;
    }
    
    ul {
        padding: 0px;
        list-style: none;
        line-height: 2;

        .bold {
            font-weight: 600;
        }
    }

    .card-footer {
        background-color: white;
        padding: 10px 10px;

        &__price {
            padding-top: 10px;
            font-size: 2rem;
            font-weight: 600;
        }

        &__duration {
            font-size: 0.9rem;
            font-weight: 600;
            color: #aaaaaa;
            margin-top: -15px;
        }

        &__btn {
            background-color: $bgOrange;
            color: white;
            margin-top: 35px;
            margin-bottom: 15px;
            padding: 6px 70px;
            font-size: 1.2rem;
            font-weight: 600;
            border-radius: 0.4rem;
        }
    }
}

// section contact

.contact {
    padding: 77px 50px 63px 50px;
    background: $bgGrey;
    font-size: 0.9rem;

    h1 {
        color: #303030;
        font-weight: 700;
        padding-bottom: 20px;
    }

    p, &__email {
        font-weight: 600;
        color: $textGrey;

        a {
            color: $textGrey;
        }
    }
  
    &__form {
        .form-control {
            font-size: 0.85rem;
            margin-bottom: 1.25rem;
        }

        @media (max-width: 769px) {
            .form-group {
                line-height: 1;
                margin: 0rem;
                padding-top: 0.7rem;
                margin-bottom: -1rem;
            }
        }

        &__textarea {
            resize: none;
        }

        &__btn {
            display: block;
            margin-left: auto;
            margin-top: 43px;
            background-color: white;
            border: 1px solid #cccccc;
            font-size: 0.9rem;
            font-weight: 600;
        }
    }
}

// section map

#map {
    height: 400px; 
    width: 100%;
}

// footer

.footer {
    padding: 40px 0px 50px 0px;
    text-align: center;

    &__btn {
        color: $bgOrange;
        font-weight: 700;
        font-size: 30px;
        display: block;
        padding: 10px;

        &:hover {
            color: #e42b01;
        }
    }
    
    p {
        color: $textGrey;
        font-weight: 600;
    }
}

// slide-in animation

#left-slide {
    left: -150px;
    -webkit-animation: left-slide 0s forwards;
    -webkit-animation-delay: 1.2s;
    animation: left-slide 2s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes left-slide {
    100% { left: 0; }
}

@keyframes left-slide {
    100% { left: 0; }
}

#bottom-slide {
    bottom: -150px;
    -webkit-animation: bottom-slide 0s forwards;
    -webkit-animation-delay: 1.2s;
    animation: bottom-slide 2s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes bottom-slide {
    100% { bottom: 0; }
}

@keyframes bottom-slide {
    100% { bottom: 0; }
}