.section__icon {
    &--signal-bar {
        font-size: 200px;
    }
    
    &--globe {
        padding-left: 0px;
        font-size: 200px;
    }
}

.values {
    padding: 80px 50px 80px 70px;

    &__text {
        padding-top: 0px;
    }
}

.pricing {
    .card {
        margin: 0px;
        
        .card-footer {
            &__btn {
                padding: 6px 12px;
            }
        }    
    }
}

.contact {
    padding: 77px 50px 80px 60px;
    
    &__form {
        &__textarea {
            margin-top: -22px;
        }
    }
}
