body {
  position: relative;
}

header {
  background-color: #fe512b;
}

header .navbar {
  padding: 0px 10px;
}

header .navbar__toggler {
  font-size: 20px;
  padding-top: 5px;
  color: #888888;
}

header .navbar-brand, header .nav-link {
  color: white;
  letter-spacing: 0.2em;
  font-weight: 600;
}

header .navbar-brand:hover, header .nav-link:hover {
  color: #ffd6cc;
}

header .nav-link {
  text-transform: uppercase;
  padding: 15px !important;
  font-size: 0.8rem;
  letter-spacing: 0.3em;
}

header .active {
  background-color: white;
  color: #fe512b;
}

header .active:hover {
  color: #e42b01;
}

@media (min-width: 576px) {
  .navbar {
    padding: 0px 50px;
  }
}

.section__h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
}

.section__h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #303030;
}

.section__p {
  color: #818181;
  font-weight: 600;
}

@media (max-width: 992px) {
  .section__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section__icon {
  font-size: 150px;
  color: #fe512b;
  margin-bottom: 15px;
}

.section__icon--globe {
  position: relative;
}

.company {
  text-align: center;
  color: white;
  background-color: #fe512b;
  padding: 120px 0px;
  font-family: Montserrat, sans-serif;
}

.company h1 {
  font-weight: 500;
  font-size: 2.3rem;
}

.company h2 {
  font-weight: 500;
  font-size: 1.3rem;
}

.company .subscribe {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
}

.company .subscribe__input {
  width: 50vw;
}

.company .subscribe__btn {
  background-color: #e15352;
  color: white;
  border: 1px solid #dd3f3e;
}

.about {
  padding: 80px 50px;
}

.about__text {
  padding-top: 1.1rem;
}

@media (max-width: 1280px) {
  .about .btn__touch {
    width: 100%;
    display: block;
    margin-bottom: 70px;
  }
}

.about .btn__touch {
  border-color: #cccccc;
  color: #333333;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 8px 15px;
}

.values {
  padding: 80px 50px;
  background: #f6f6f6;
}

.values__text {
  padding-top: 20px;
}

.values__text--bold {
  font-weight: 700;
}

.services {
  padding: 100px;
}

.services__icon {
  font-size: 45px;
  padding-top: 20px;
}

.services__h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.services__p {
  color: #818181;
  font-size: 1rem;
  font-weight: 500;
}

.portfolio {
  padding: 100px 50px;
  background-color: #f6f6f6;
}

.portfolio h2 {
  padding-bottom: 30px;
}

.portfolio .figure {
  padding-bottom: 10px;
}

.portfolio .figure figcaption {
  padding-top: 10px;
  margin-top: -10px;
  min-height: 85px;
  background-color: white;
}

.portfolio .figure figcaption h3 {
  font-size: 1rem;
  font-weight: 700;
}

.portfolio .figure figcaption p {
  font-weight: 600;
}

.portfolio__carousel-heading {
  padding-top: 45px;
  font-weight: 700;
}

.portfolio .carousel-item {
  padding: 90px 0px 30px 0px;
  height: 250px;
}

.portfolio .carousel-text {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
}

.portfolio .carousel-control-prev, .portfolio .carousel-control-next {
  color: #fe512b;
  font-size: 40px;
}

.portfolio .carousel__dot {
  background-color: white;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 1px solid #fe512b;
  opacity: 1;
}

.portfolio .carousel li.active {
  background-color: #fe512b;
}

.pricing {
  padding: 70px 0px;
  text-align: center;
}

.pricing .card {
  border: 1px solid #fe512b;
  border-radius: 0rem;
  color: #818181;
  margin: 35px;
}

.pricing .card-header {
  background-color: #fe512b;
  color: white;
  font-weight: 600;
  border-radius: 0rem;
  height: 120px;
  line-height: 120px;
  padding: 0px;
  font-size: 2.3rem;
}

.pricing ul {
  padding: 0px;
  list-style: none;
  line-height: 2;
}

.pricing ul .bold {
  font-weight: 600;
}

.pricing .card-footer {
  background-color: white;
  padding: 10px 10px;
}

.pricing .card-footer__price {
  padding-top: 10px;
  font-size: 2rem;
  font-weight: 600;
}

.pricing .card-footer__duration {
  font-size: 0.9rem;
  font-weight: 600;
  color: #aaaaaa;
  margin-top: -15px;
}

.pricing .card-footer__btn {
  background-color: #fe512b;
  color: white;
  margin-top: 35px;
  margin-bottom: 15px;
  padding: 6px 70px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.4rem;
}

.contact {
  padding: 77px 50px 63px 50px;
  background: #f6f6f6;
  font-size: 0.9rem;
}

.contact h1 {
  color: #303030;
  font-weight: 700;
  padding-bottom: 20px;
}

.contact p, .contact__email {
  font-weight: 600;
  color: #818181;
}

.contact p a, .contact__email a {
  color: #818181;
}

.contact__form .form-control {
  font-size: 0.85rem;
  margin-bottom: 1.25rem;
}

@media (max-width: 769px) {
  .contact__form .form-group {
    line-height: 1;
    margin: 0rem;
    padding-top: 0.7rem;
    margin-bottom: -1rem;
  }
}

.contact__form__textarea {
  resize: none;
}

.contact__form__btn {
  display: block;
  margin-left: auto;
  margin-top: 43px;
  background-color: white;
  border: 1px solid #cccccc;
  font-size: 0.9rem;
  font-weight: 600;
}

#map {
  height: 400px;
  width: 100%;
}

.footer {
  padding: 40px 0px 50px 0px;
  text-align: center;
}

.footer__btn {
  color: #fe512b;
  font-weight: 700;
  font-size: 30px;
  display: block;
  padding: 10px;
}

.footer__btn:hover {
  color: #e42b01;
}

.footer p {
  color: #818181;
  font-weight: 600;
}

#left-slide {
  left: -150px;
  -webkit-animation: left-slide 0s forwards;
  -webkit-animation-delay: 1.2s;
  -webkit-animation: left-slide 2s forwards;
          animation: left-slide 2s forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes left-slide {
  100% {
    left: 0;
  }
}

@keyframes left-slide {
  100% {
    left: 0;
  }
}

#bottom-slide {
  bottom: -150px;
  -webkit-animation: bottom-slide 0s forwards;
  -webkit-animation-delay: 1.2s;
  -webkit-animation: bottom-slide 2s forwards;
          animation: bottom-slide 2s forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes bottom-slide {
  100% {
    bottom: 0;
  }
}

@keyframes bottom-slide {
  100% {
    bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */