.section__icon--signal-bar {
  padding-left: 20px;
  font-size: 200px;
}

.section__icon--globe {
  padding-left: 0px;
  font-size: 200px;
}

.company h1 {
  font-weight: 500;
  font-size: 4rem;
}

.company .subscribe__input {
  width: 30vw;
}

.values {
  padding: 80px 50px 80px 70px;
}

.values__text {
  padding-top: 0px;
}

.services__icon {
  padding-top: 45px;
}

.portfolio h2 {
  padding-bottom: 0px;
}

.portfolio .carousel-item {
  padding: 90px 0px 30px 0px;
  height: auto;
}

.pricing {
  padding: 90px;
}

.pricing .card {
  margin: 0px;
}

.pricing .card .card-footer__btn {
  padding: 6px 12px;
}

.contact {
  margin-top: 20px;
  padding: 77px 50px 80px 60px;
}

.contact__form .contact-form {
  padding-left: 10px;
}

.contact__form .contact-form-name {
  padding-right: 15px;
}

.contact__form .contact-form-email {
  padding-left: 15px;
}

.contact__form__textarea {
  margin-top: -22px;
}

.contact__form textarea {
  height: 113px;
}
/*# sourceMappingURL=style-lg.css.map */