.section {
    &__icon {
        &--signal-bar {
            padding-left: 20px;
            font-size: 200px;
        }

        &--globe {
            padding-left: 0px;
            font-size: 200px;
        }
    }
}

.company {
    h1 {
        font-weight: 500;
        font-size: 4rem;
    }

    .subscribe__input {
        width: 30vw;
    }
}

.values {
    padding: 80px 50px 80px 70px;

    &__text {
        padding-top: 0px;
    }
}

.services {
    &__icon {
        padding-top: 45px;
    }
}

.portfolio {
    h2 {
        padding-bottom: 0px;
    }

    .carousel-item {
        padding: 90px 0px 30px 0px;
        height: auto;
    }
}

.pricing {
    padding: 90px;

    .card {
        margin: 0px;
        
        .card-footer {
            &__btn {
                padding: 6px 12px;
            }
        }  
    }
}

.contact {
    margin-top: 20px;
    padding: 77px 50px 80px 60px;

    &__form {
    
        .contact-form {
            padding-left: 10px;
        }
    
        .contact-form-name {
            padding-right: 15px;
        }
    
        .contact-form-email {
            padding-left: 15px;
        }
    
        &__textarea {
            margin-top: -22px;
        }
    
        textarea {
            height: 113px;
        }
    }
}